
.img-fundo{
    background-image: url('http://ottawaperks.com/uploads/bg-slide-01.jpg') ;
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    
    overflow: auto;
    
    position: absolute;
    text-align: center;
    background-size: cover;

}

.btn-primary{
    background-color: #01a7fb;

}